* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  max-width: 1200px;
  margin: 0 auto 0 auto;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

h1 {
  font-size: 6rem;
  font-weight: 100;
  color: rgb(134, 192, 75);
  margin-bottom: 2.5rem;
  margin-top: 2.5rem;
  text-align: center;
}
h2 {
  font-size: 2rem;
  font-weight: 100;
  color: rgb(197, 168, 88);
  margin-bottom: 1.5rem;
  margin-top: 3rem;
}

p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/************ MENU ************/
.logo {
  width: 5%;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #869fa4;
}

nav {
  display: flex;
  align-items: end;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu a {
  display: block;
  padding: 10px;
  color: rgb(0, 0, 0);
  text-decoration: none;
  transition: color 0.3s;
}

/************************* VIDEO ***************************/
video {
  aspect-ratio: 16/9;
  width: 100%;
}
.video {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
iframe {
  aspect-ratio: 16/9;
  width: 100%;
  height: auto;
}
